body {
    font:14px/1.5em Arial, Sans-serif;
}

h1, h2, h3, h4, h5, h6, p, ol, ul, dl {
    margin:.75em 0;
}

h1, h2, h3, h4, h5, h6 {
   font-weight:bold;
}

h1 {
    font-size:1.8em;
}

h2 {
    font-size:1.5em;
}

h3 {
    font-size:1.3em;
}

h4, h5, h6 {
    font-size:1.1em;
}

//Anchors
a {
    color:$link_color;
}

//Tables

//Lists