{% extends "layout.html" %}
{% block content %}
<div class="row">
    <div class="col-sm-6">
        <h2>What does it do?</h2>
        <ul class="list-unstyled">
            <li><a href="{{ urlFor('hello_view') }}">Hello World</a></li>
            <li>
                <a href="{{ urlFor('hello_view', {"name": "param"}) }}">Hello param</a>

                <pre><code>$app->get('/hello/(:name)', function($name = 'world') use ($app)</code></pre>

            </li>
        </ul>
    </div>
    <div class="col-sm-6">
        <h2>Code Example - PHP front</h2>
<pre>
<code>
require '../app/App.php';

$app = new App();

$app->get('/', function() use ($app){
    echo $app->render('index');
});

$app->get('/hello/(:name)', function($name = 'world') use ($app){
    echo $app->render('world', array('name' => $name));
});

$app->run();
</code>
</pre>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-sm-3">
        <h3>Slim Framework</h3>
        <p><a href="http://www.slimframework.com/">The Slim Framework</a> is a simple yet powerful PHP 5 framework to create RESTful web applications. The Slim micro framework is everything you need and nothing you don't.</p>
    </div>
    
    <div class="col-sm-3">
        <h3>Twitter Bootstrap</h3>
        <p><a href="http://twitter.github.com/bootstrap/">Twitter Bootstrap</a>, from Twitter. Simple and flexible HTML, CSS, and Javascript for popular user interface components and interactions. </p>
    </div>
    
    <div class="col-sm-3">
        <h3>SASS</h3>
        <p><a href="http://sass-lang.com/">Sass</a> makes CSS fun again. Sass is an extension of CSS3, adding nested rules, variables, mixins, selector inheritance, and more. <strong>Slimstart</strong> combines SASS and Bootstrap using <a href="https://github.com/thomas-mcdonald/bootstrap-sass">Bootstrap-SASS</a>.</p>
    </div>
    
    <div class="col-sm-3">
        <h3>Mustache</h3>
        <p><a href="http://mustache.github.com/">Mustache</a>. Logic-less templates. We use them both <a href="https://github.com/janl/mustache.js">client-side using JavaScript</a> and server-side using <a href="https://github.com/bobthecow/mustache.php">Mustache for PHP</a></p>
    </div>
</div>

<div class="row">
    <div class="col-sm-3">
      <h3>CoffeeScript</h3>
      <p><a href="http://coffeescript.org/">CoffeeScript</a> is a little language that compiles into JavaScript.  CoffeeScript is an attempt to expose the good parts of JavaScript in a simple way. You can use it in Slimstart.</p>
    </div>
    
    <div class="col-sm-3">
      <h3>Bourbon.io</h3>
      <p><a href="http://bourbon.io/">Bourbon.io</a> is a simple and lightweight mixin library for Sass. It is bundled in Slimstart.</p>
    </div>
    
    <div class="col-sm-3">
      <h3>Grunt</h3>
      <p><a href="http://gruntjs.com/">Grunt, the JavaScript Task Runner</a> helps with boring repetitive stuff. In one word: automation. The less work you have to do when performing repetitive tasks the easier your job becomes.</p>
    </div>
    
    <div class="col-sm-3">
      <h3>Composer</h3>
      <p><a href="http://getcomposer.org/">Composer</a> is a Dependency Manager for PHP. It allows you to declare the dependent libraries your project needs and it will install them in your project for you.</p>
    </div>
</div>
{% endblock %}



